.Card-comp{
   padding: 10px;
   border-radius: 20px;
   box-shadow: rgba(40, 209, 243, 0.25) 0px 54px 40px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 10px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

.input-field{
    border-radius: 5px;
    box-shadow: rgba(225, 162, 27, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;   
    font-size: 20px ;
    margin: 10px;
    
   
}

.btn{
    padding: 10px 20px;
    border-radius: 10px ;
    box-shadow: rgba(36, 36, 211, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    size: 5px;
    cursor: pointer;
}
.App-header{
    justify-content: center;
    background-color: rgb(7, 4, 1);
    display: flex;
    min-height: 100vh;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: aliceblue;

}
.App{
    text-align: center;
}
